langchain==0.1.17
langchain-community==0.0.36
langchain-core==0.1.50
langchain-openai==0.1.6
langchain-text-splitters==0.0.1
langsmith==0.1.53
numpy==1.26.4
openai==1.25.1
orjson==3.10.2
packaging==23.2
pandas==2.2.2
wikipedia
numexpr
langchainhub
chromadb
docx2txt
pypdf
unstructured
python-pptx
nltk
boto3
llama-index-embeddings-bedrock
opensearch-py
requests_aws4auth
config
